# Build folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio cache
.vs/

# Logs
*.log

# Publish outputs
*.publish/

# EF Core Migrations snapshot
Migrations/

# Database files
*.mdf
*.ldf

# Secrets (don’t push your connection strings)
appsettings.Development.json
